.admin-container h1 {
    text-align: center;
    color: #333;
}
.admin-container .admin-options {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}